<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rule_everybody</key>
	<string>Everybody Drinks</string>
	<key>rule_everybody2</key>
	<string>Everybody Drinks Again</string>
	<key>rule_everybody3</key>
	<string>One more time</string>
	<key>rule_everybody4</key>
	<string>Game Over\nTippsy Yet?</string>
	<key>start_again</key>
	<string>Shake to start again</string>
	<key>pass_shake</key>
	<string>Pass and shake</string>
	<key>rule_categories</key>
	<string>Categories</string>
	<key>rule_chug</key>
	<string>CHUG IT</string>
	<key>rule_floor</key>
	<string>Floor</string>
	<key>rule_girls</key>
	<string>Ladies Drink</string>
	<key>rule_guys</key>
	<string>Men Drink</string>
	<key>rule_left</key>
	<string>Left of Shaker</string>
	<key>rule_questionmaster</key>
	<string>Question Master</string>
	<key>rule_rhyme</key>
	<string>Rhyme</string>
	<key>rule_right</key>
	<string>Right of Shaker</string>
	<key>rule_sky</key>
	<string>Heaven</string>
	<key>rule_thumbking</key>
	<string>Thumb Master</string>
	<key>rule_thumbwar</key>
	<string>Thumb War</string>
	<key>rule_vikingking</key>
	<string>Viking King</string>
	<key>rule_waterfall</key>
	<string>Waterfall</string>
	<key>description_everybody</key>
	<string></string>
	<key>description_categories</key>
	<string>The player who shook picks a category such as &quot;sports teams&quot; or &quot;car brands&quot;. The players then go around in the circle saying items from that category, the first player who can not think of an item or says something not in the category must drink.</string>
	<key>description_chug</key>
	<string></string>
	<key>description_floor</key>
	<string>Last person to touch the floor drinks.</string>
	<key>description_girls</key>
	<string></string>
	<key>description_guys</key>
	<string></string>
	<key>description_left</key>
	<string></string>
	<key>description_questionmaster</key>
	<string>The player that shook becomes the &quot;Question Master&quot;. The Question Master can ask a question at any time. Whenever a player answers the Question Master&apos;s question with a statement, that player must drink. The shaker is the Question Master until a new Question Master is declared.</string>
	<key>description_rhyme</key>
	<string>The player who shook says a phrase, then the players go around in the circle saying phrases that rhyme with the original. No phrase may be said twice, the first player who can not come up with a phrase, or says a phrase that does not rhyme must drink.</string>
	<key>description_right</key>
	<string></string>
	<key>description_sky</key>
	<string>All players must point toward the sky. The last player to point must drink.</string>
	<key>description_thumbking</key>
	<string>The player who shook becomes the &quot;Thumb Master&quot;. The Thumb Master can place their thumb on the table at any time and the last player to notice and place their thumb on the table must drink. The shaker is the Thumb Master until a new Thumb Master is declared.</string>
	<key>description_thumbwar</key>
	<string>The player who shook challenges another player to thumb war! Loser must drink</string>
	<key>description_vikingking</key>
	<string>The player who shook becomes the &quot;Viking King&quot;. Everytime the Viking King uses his hand to put Viking horns on his head, everyone has to pretend to row a boat, last one drinks. The player can do this at anytime throughout the game. The shaker is the Viking King until a new Viking King is declared.</string>
	<key>description_waterfall</key>
	<string>Everybody starts drinking. The player who shook can stop anytime. When that player stops drinking, the person to their right can choose to stop drinking at any time. When that person stops drinking the person to their right can stop drinking, etc. This continues to the end of the circle.</string>
</dict>
</plist>
