<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rule_everybody</key>
    <string name="rule_everybody">Everybody Drinks</string>
    
    <key>rule_everybody</key>
    <string name="rule_everybody2">Everybody Drinks Again</string>
    <key>rule_everybody3</key>
    <string name="rule_everybody3">One more time</string>
    <key>rule_everybody4</key>
    <string name="rule_everybody4">Game Over\nTippsy Yet?</string>
    <key>start_again</key>
    <string name="start_again">Shake to start again</string>
    <key>pass_shake</key>
    <string name="pass_shake">Pass and shake</string>
    <key>rule_categories</key>
    <string name="rule_categories">Categories</string>
    <key>rule_chug</key>
    <string name="rule_chug">CHUG IT</string>
    <key>rule_floor</key>
    <string name="rule_floor">Floor</string>
    <key>rule_girls</key>
    <string name="rule_girls">Ladies Drink</string>
    <key>rule_guys</key>
    <string name="rule_guys">Men Drink</string>
    <key>rule_left</key>
    <string name="rule_left">Left of Shaker</string>
    <key>rule_questionmaster</key>
    <string name="rule_questionmaster">Question Master</string>
    <key>rule_rhyme</key>
    <string name="rule_rhyme">Rhyme</string>
    <key>rule_right</key>
    <string name="rule_right">Right of Shaker</string>
    <key>rule_sky</key>
    <string name="rule_sky">Heaven</string>
    <key>rule_thumbking</key>
    <string name="rule_thumbking">Thumb Master</string>
    <key>rule_thumbwar</key>
    <string name="rule_thumbwar">Thumb War</string>
    <key>rule_vikingking</key>
    <string name="rule_vikingking">Viking King</string>
    <key>rule_waterfall</key>
    <string name="rule_waterfall">Waterfall</string>
    <key>description_everybody</key>
    <string name="description_everybody"></string>
    <key>description_categories</key>
    <string name="description_categories">The player who shook picks a category such as "sports teams" or "car brands". The players then go around in the circle saying items from that category, the first player who can not think of an item or says something not in the category must drink.</string>
    <key>description_chug</key>
    <string name="description_chug"></string>
    <key>description_floor</key>
    <string name="description_floor">Last person to touch the floor drinks.</string>
    <key>description_girls</key>
    <string name="description_girls"></string>
    <key>description_guys</key>
    <string name="description_guys"></string>
    <key>description_left</key>
    <string name="description_left"></string>
    <key>description_questionmaster</key>
    <string name="description_questionmaster">The player that shook becomes the "Question Master". The Question Master can ask a question at any time. Whenever a player answers the Question Master\'s question with a statement, that player must drink. The shaker is the Question Master until a new Question Master is declared.</string>
    <key>description_rhyme</key>
    <string name="description_rhyme">The player who shook says a phrase, then the players go around in the circle saying phrases that rhyme with the original. No phrase may be said twice, the first player who can not come up with a phrase, or says a phrase that does not rhyme must drink.</string>
    <key>description_right</key>
    <string name="description_right"></string>
    <key>description_sky</key>
    <string name="description_sky">All players must point toward the sky. The last player to point must drink.</string>
    <key>description_thumbking</key>
    <string name="description_thumbking">The player who shook becomes the "Thumb Master". The Thumb Master can place their thumb on the table at any time and the last player to notice and place their thumb on the table must drink. The shaker is the Thumb Master until a new Thumb Master is declared.</string>
    <key>description_thumbwar</key>
    <string name="description_thumbwar">The player who shook challenges another player to thumb war! Loser must drink</string>
    <key>description_vikingking</key>
    <string name="description_vikingking">The player who shook becomes the ""Viking King. Everytime the Viking King uses his hand to put Viking horns on his head, everyone has to pretend to row a boat, last one drinks. The player can do this at anytime throughout the game. The shaker is the Viking King until a new Viking King is declared.</string>
    <key>description_waterfall</key>
    <string name="description_waterfall">Everybody starts drinking. The player who shook can stop anytime. When that player stops drinking, the the person to their right can choose to stop drinking at any time. When that person stops drinking the person to their right can stop drinking, etc. This continues to the end of the circle.</string>
</dict>
</plist>